In [1]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv('C:/Users/aksha/Downloads/CLEANED_GMC_DIESEL.csv')

In [10]:
df.drop(columns=['PRICE RANGE','MAKE ORIGIN','PARENT COMPANY','IMAGE','BRAND'],inplace=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9929 entries, 0 to 9928
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   CAR NAME                 9929 non-null   object
 1   MODEL/CLASS              9929 non-null   object
 2   MODEL                    9929 non-null   int64
 3   PRICE($)                 9929 non-null   float64
 4   STOCK TYPE               9929 non-null   object
 5   MILEAGE                  9929 non-null   int64
 6   AGE OF CAR               9929 non-null   int64
 7   RATING                   9929 non-null   float64
 8   REVIEW                   9929 non-null   float64
 9   DEALER NAME              9929 non-null   object
 10  DEALER LOCATION (CITY)   9929 non-null   object
 11  DEALER LOCATION (STATE)  9928 non-null   object
dtypes: float64(3), int64(3), object(6)
memory usage: 931.0+ KB

In [15]:
df.dropna(inplace=True)

In [19]:
df.drop_duplicates(inplace=True)

In [24]:
df

,CAR NAME,MODEL/CLASS,MODEL,PRICE($),STOCK TYPE,MILEAGE,AGE OF CAR,RATING,REVIEW,DEALER NAME,DEALER LOCATION (CITY),DEALER LOCATION (STATE)
0,GMC Sierra 3500 Denali,Sierra 3500,2024,82648.0,New,0,0,3.1,507.0,Kunes Chevrolet GMC of Elkhorn,Elkhorn,Wisconsin
1,GMC Sierra 2500 SLE,Sierra 2500,2022,46989.0,Used,51587,2,4.7,1443.0,Kearns Motor Car Co.,Johnson Creek,Wisconsin
2,GMC Sierra 1500 Elevation,Sierra 1500,2024,57375.0,New,0,0,4.1,49.0,Lafayette GMC Cadillac,Lafayette,Indiana
3,GMC Sierra 1500 AT4X,Sierra 1500,2024,75787.0,New,0,0,4.3,9.0,Pilson Chevrolet Buick GMC,Clinton,Indiana
4,GMC Sierra 1500 Elevation,Sierra 1500,2021,36667.0,Used,41976,3,-1.0,8.0,"H&K Chevrolet, Inc.",Continental,Ohio
...,...,...,...,...,...,...,...,...,...,...,...,...
9922,GMC Sierra 1500 Base,Sierra 1500,2017,26989.0,Used,51537,7,4.2,880.0,Corwin Motors Kalispell,Kalispell,Montana
9923,GMC Sierra 2500 Base,Sierra 2500,2022,69198.0,Used,28975,2,4.4,1188.0,Motor City Buick GMC,Bakersfield,California
9924,GMC Sierra 3500 Base,Sierra 3500,2024,65368.0,New,0,0,4.4,1188.0,Motor City Buick GMC,Bakersfield,California
9926,GMC Sierra 1500 Elevation,Sierra 1500,2024,64579.0,New,0,0,4.5,743.0,Chevrolet GMC of Fairbanks,Fairbanks,Alaska
9928,GMC Sierra 1500 Denali,Sierra 1500,2024,78200.0,New,0,0,4.5,743.0,Chevrolet GMC of Fairbanks,Fairbanks,Alaska